<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ShabiOtter Application</title>
    @Styles.Render( "~/bundles/CSS/bootstrap" )
    @Styles.Render( "~/bundles/CSS/Layout" )

    @RenderSection( "Styles", false )

</head>
<body>
    <div class="navbar navbar-fixed-top" style="position: relative;">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action( "Index", "Home", new { Area = "" } )">ShabiOtter Music Apps</a>
                <ul class="nav">
                    <li class="active"><a href="@Url.Action( "Index", "Home", new { Area = "" } )">Bibliothèque musicale</a></li>
                    <li><a href="@Url.Action( "Index", "Playlist", new { Area = "" } )">Mes playlists</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="@Url.Action( "Index", "Manager", new { Area = "Backoffice" } )">Backoffice</a></li>
                    @if( HttpContext.Current.User.Identity.IsAuthenticated == true && HttpContext.Current.User.IsInRole( "User" ) )
                    {
                        @Html.Partial( "_MenuAuthorize" )
                    }
                    else
                    {
                        @Html.Partial( "_MenuUnauthorize" )
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="content container">
        @RenderBody()
    </div>
    @Scripts.Render( "~/bundles/JS/jquery" )
    @Scripts.Render( "~/bundles/JS/bootstrap" )
    @Scripts.Render( "~/bundles/JS/knockout" )
    <script type="text/javascript">
        var SO = {
            VM: {
                Current: {}
            }
        }
        SO.rootUrl = '/';
        window.SO = SO;

        ko.applyBindings(SO.VM.Current, $('#main')[0]);
    </script>
    @RenderSection( "Scripts", false )

</body>
</html>
