@model Nwd.Authentication.ViewModels.LogInViewModel

<h3>Veuillez vous connecter</h3>
@using( Html.BeginForm( "LogIn", "Account", FormMethod.Post, new { @class = "form-horizontal" } ) )
{
    <div style="width: 550px; margin-right: auto; margin-left: auto;">
        <div class="control-group">
            @Html.LabelFor( m => m.Username, new { @class = "control-label" } )
            <div class="controls">
                @Html.EditorFor( m => m.Username )
                @Html.ValidationMessageFor( m => m.Username )
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor( m => m.Password, new { @class = "control-label" } )
            <div class="controls">
                @Html.EditorFor( m => m.Password )
                @Html.ValidationMessageFor( m => m.Password )
            </div>
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    @Html.EditorFor( m => m.RememberMe )
                    Se souvenir de moi                
                </label>
                <button type="submit" class="btn">Se connecter</button>
            </div>
        </div>
    </div>
}
