@helper Activate(params string[] sectionName){
    if( sectionName.Contains( (string)ViewBag.CurrentSection ) ){
        @: active
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ShabiOtter Application</title>
    @Styles.Render( "~/bundles/CSS/bootstrap" )
    @Styles.Render( "~/bundles/CSS/Layout" )

    @RenderSection( "Styles", false )

</head>
<body>
    <div class="navbar navbar-fixed-top" style="position: relative;">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action( "Albums", "Manager", new { Area = "Backoffice" } )">ShabiOtter Backoffice</a>
                <ul class="nav">
                    <li class="@Activate("Albums")"><a href="@Url.Action( "Albums", "Manager" )">Albums</a></li>
                    <li class="@Activate("Musics")"><a href="#">Musiques</a></li>
                    <li class="@Activate("Artist")"><a href="#">Artistes</a></li>
                </ul>
                <ul class="nav pull-right">
                    @if( HttpContext.Current.User.Identity.IsAuthenticated == true && HttpContext.Current.User.IsInRole( "Administrator" ) )
                    {
                        @Html.Partial( "_MenuAuthorize" )
                    }
                    else
                    {
                        @Html.Partial( "_MenuUnauthorize" )
                    }
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="container">
        @RenderBody()
    </div>
    @Scripts.Render( "~/bundles/JS/jquery" )
    @Scripts.Render( "~/bundles/JS/bootstrap" )
    @Scripts.Render( "~/bundles/JS/knockout" )

    <script type="text/javascript">
        var SO = {
            VM: {
                Current: {}
            }
        }
        SO.rootUrl = '/';
        window.SO = SO;
    </script>
    @Scripts.Render( "~/bundles/JS/shabi" )
    @RenderSection( "Scripts", false )
    <script type="text/javascript">
        ko.applyBindings(SO.VM.Current, $('#main')[0]);
    </script>
</body>
</html>
