<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - ShabiOtter Application</title>
    @Styles.Render( "~/bundles/CSS/bootstrap" )
    @Styles.Render( "~/bundles/CSS/Layout" )

    @RenderSection( "Styles", false )

</head>
<body>
    <div class="navbar navbar-fixed-top" style="position: relative;">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@Url.Action( "Index", "Home", new { Area = "Backoffice" } )">ShabiOtter Backoffice</a>
                <ul class="nav">
                    <li class="active"><a href="#">Musiques</a></li>
                    <li><a href="#">Artists</a></li>
                    <li><a href="#">Albums</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li><a href="#"><i class="icon-wrench"></i>&nbsp;Mes paramètres</a></li>
                    <li><a href="@Url.Action( "LogOut", "Account", new { Area = "" } )"><i class="icon-user"></i>&nbsp;Déconnexion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="container">
        @RenderBody()
    </div>
    @Scripts.Render( "~/bundles/JS/jquery" )
    @Scripts.Render( "~/bundles/JS/bootstrap" )
    @Scripts.Render( "~/bundles/JS/knockout" )

    <script type="text/javascript">
        var SO = {
            VM: {
                Current: {}
            }
        }
        SO.rootUrl = '/';
        window.SO = SO;
    </script>
    @Scripts.Render("~/bundles/JS/shabi")
    @RenderSection( "Scripts", false )
    <script type="text/javascript">
        ko.applyBindings(SO.VM.Current, $('#main')[0]);
    </script>
</body>
</html>
