@{
    ViewBag.Title = "Albums";
}
@section Scripts{
    <script type="text/javascript">
        $('a[data-toggle="tooltip"]').tooltip();
    </script>
    @Scripts.Render("~/bundles/JS/Album")
}

<div id="album-manager" class="carousel slide" data-bind="with: SO.VM.Current.Album">
    <div class="carousel-inner">
        <div id="section-album-list" class="item active">
            <div class="title form-inline">
                <div class="style"></div>
                <div class="title-inner">
                    <p class="text">Liste des Albums</p>
                    <button class="btn btn-danger pull-right" data-bind="click: create">Ajouter</button>
                    <input class="pull-right" type="text" placeholder="Titre de l'album" name="AlbumName" data-bind="value: New.Title"/>
                </div>
            </div>
            <!-- ko with: Collection -->
            <div class="album-list" data-bind="foreach: Items">
                @Html.Partial("_Album")
            </div>
            <!-- /ko -->
        </div>
        <div id="section-album-create" class="item" data-bind="with: New">
            <div class="title form-inline">
                <div class="style" style="background-color: green"></div>
                <div class="title-inner">
                    <p class="text" data-bind="text: 'Nouvel Album : ' + Title()"></p>
                    <button class="btn btn-success pull-right" data-bind="click: function () { $parent.addAlbum($data); }">Ajouter</button>
                    <button class="btn btn pull-right" data-bind="click: $parent.list">Retour</button>
                </div>
            </div>
            <div class="album-create">
                @Html.Partial("_AlbumForm")
            </div>
        </div>
    </div>
</div>
 @Html.Partial("Modal/_EditAlbum")
 @Html.Partial("Modal/_AlbumDelete")